@import "../globalVariables.scss";

.title{
    padding-left: 20px;
    color: $textColorSubTitle;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    gap: 20px;
    margin: 0px;
}