$currentLeftRightPadding: 10%;
@import "../globalVariables.scss";

.logo{
    width: 250px;
    height: 100px;
    object-fit: contain;
}

.ulNav{
    @include flexRowCenter;
    color: $textColor;
    font-size: 20px;
    list-style-type: none;
    padding-left: 0;
    .liElement{
        padding-left: 15px;
        &:first-child{
            padding-left: 0px;
        }
        &:hover{
            color: $textColorHover;
        }
    }
}

.navigation{
    position: fixed;
    width: 100-($currentLeftRightPadding*2);
    display: flex;
    justify-content: space-between;
}

.mainData{
    @include padding-list;
    padding-top: 100px;
    min-height: 81vh;
}

.container{
    @include padding-list;
}

.footer{
    @include margin-list;
    @include flexRowCenter;
    justify-content: space-around;
    border-top-left-radius: $globalBorderRadius;
    border-top-right-radius: $globalBorderRadius;
    background-color: $backgroundElement;
    box-shadow: $globalBoxShadow;
}

.ulNavFooter{
    @include flexColumnCenter;
    color: $textColor;
    font-size: 20px;
    list-style-type: none;
    .liElement{
        &:hover{
            color: $textColorHover;
        }
    }
}

.containerLanguage{
    @include flexRowCenter();
    .liElement:first-child{
        padding-left: 15px;
    }
}
.containerSocialNetwork{
    .liElement:hover{
        color: $textColor;
    }
}