$mainBackgroung: #EAEAEA;
$textColor: #4c3228;
$textColorHover: #ff6600;
$currentLeftRightPadding: 10%;

.logo{
    width: 250px;
    height: 100px;
    object-fit: contain;
}

@mixin flexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;   
}

@mixin flexColumnCenter {
    @include flexRowCenter;
    flex-direction: column;
}

.ulNav{
    @include flexRowCenter;
    color: $textColor;
    font-size: 20px;
    list-style-type: none;
    padding-left: 0;
    .liElement{
        padding-left: 15px;
        &:first-child{
            padding-left: 0px;
        }
        &:hover{
            color: $textColorHover;
        }
    }
}

.navigation{
    position: fixed;
    width: 100-($currentLeftRightPadding*2);
    display: flex;
    justify-content: space-between;
}

@mixin padding-list {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }

@mixin margin-list {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }

.mainData{
    @include padding-list;
    padding-top: 100px;
    min-height: 81vh;
}

.container{
    @include padding-list;
}

.footer{
    @include margin-list;
    @include flexRowCenter;
    justify-content: space-around;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.ulNavFooter{
    @include flexColumnCenter;
    color: $textColor;
    font-size: 20px;
    list-style-type: none;
    .liElement{
        &:hover{
            color: $textColorHover;
        }
    }
}

.containerLanguage{
    @include flexRowCenter();
    .liElement:first-child{
        padding-left: 15px;
    }
}
.containerSocialNetwork{
    .liElement:hover{
        color: $textColor;
    }
}